code/core/src/main/resources/META-INF/flatfile/jrecordbind/geoname.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schemas.assist-si.it/jrb/simple" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.assist-si.it/jrb/simple"
	xmlns:jrb="http://jrecordbind.dev.java.net/2/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="ikube.model.geospatial.GeoName">
		<xs:sequence>
			<xs:element name="geonameid" type="xs:int" jrb:length="16" />
			<xs:element name="name" type="xs:string" jrb:length="200" />
			<xs:element name="asciiname" type="xs:string" jrb:length="200" />
			<xs:element name="alternatenames" type="xs:string" jrb:length="5000" />
			<xs:element name="latitude" type="xs:string" jrb:length="16" />
			<xs:element name="longitude" type="xs:string" jrb:length="16" />
			<xs:element name="featureClass" type="xs:string" jrb:length="1" />
			<xs:element name="featureCode" type="xs:string" jrb:length="10" />
			<xs:element name="countryCode" type="xs:string" jrb:length="2" />
			<xs:element name="cc2" type="xs:string" jrb:length="60" />
			<xs:element name="admin1Code" type="xs:string" jrb:length="20" />
			<xs:element name="admin2Code" type="xs:string" jrb:length="80" />
			<xs:element name="admin3Code" type="xs:string" jrb:length="20" />
			<xs:element name="admin4Code" type="xs:string" jrb:length="20" />
			<xs:element name="population" type="xs:int" jrb:length="16" />
			<xs:element name="elevation" type="xs:int" jrb:length="16" />
			<xs:element name="gtopo30" type="xs:int" jrb:length="16" />
			<xs:element name="timezone" type="xs:string" jrb:length="48" />
			<xs:element name="modification" type="xs:string" jrb:length="10" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="main" type="ikube.model.geospatial.GeoName" jrb:delimiter="	" jrb:length="60000"/>
</xs:schema>